.label{
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.button {
    -fx-font-size: 12;
    -fx-font-weight: bold;
}

#h1, #h2, #h3, #h4, #h5 {
    -fx-font-size: 29;
    -fx-font-weight: bold;
}
#h6 {
    -fx-font-size: 26;
    -fx-font-weight: bold;
}
#h7, #h8 {
    -fx-font-size: 22;
    -fx-font-weight: bold;
}

#h9 {
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

#b1 {
    -fx-font-size: 11;
    -fx-font-weight: bold;
}

#b2, #b3, #b4 {
    -fx-font-size: 13;
    -fx-font-weight: bold;
}


.menu {
    -fx-font-size: 12;
}

.menu-bar {
    -fx-font-size: 12;
}

.menu-bar .label {
    -fx-font-size: 12;
}

.menu-bar .menu-button {
    -fx-font-size: 12;
}

.menu-item {
    -fx-font-size: 12;
}

.menu-item .label {
    -fx-font-size: 12;
}

.context-menu {
    -fx-font-size: 12;
}


.choice-box {
    -fx-font-size: 12;
}
.choice-box-popup .list-view{
    -fx-font-size: 12;
}

.choice-box-popup .list-view .list-cell{
    -fx-font-size: 12;
}

.choice-box .label {
    -fx-font-size: 12;
}

.choice-box .button {
    -fx-font-size: 12;
}

#granularityDrop {
    -fx-font-size: 12;
}

#helpDescription {
    -fx-font-size: 14;
}